.container {
    height:500px;
    width: 100%;
    background:#606060;
    overflow-wrap:break-word;
  }
  input {
    height:35px;
  }
  button {
    height:35px;
    width:75px;
  }
  
  .wrapper {
    margin:50px;
  }
  
  h2 {
    font-size:25px;
  }
  
  #essentials{
    margin:36px;
  }
  
  #discretionary {
    margin:36px;
  }
  #savings {
    margin:36px;
  }
  
  